@model ProductImageDto
<style>
    #eImage {
        border-radius: 13% !important;
        height: 10rem;
        width: 10rem;
        background-repeat: no-repeat;
        background-size: cover;
        object-position: 50% 50%;
    }

    #img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
</style>
<div class="content-body">
    <!-- login page start -->
   
    <section id="auth-login" class="row flexbox-container">
        <div class="col-xl-8 col-11">
            <div class="card bg-authentication mb-0">
                <div class="row m-0">
                    <!-- left section-login -->
                    <div class="col-md-8 col-12 px-0">
                        <div class="card disable-rounded-right mb-0 p-2 h-100 d-flex justify-content-center">
                            <div class="card-header pb-1">
                                <div class="card-title">
                                    
                                            <h4 class="text-center mb-2">   تعديل الصورة  </h4>
                                        
                                </div>
                            </div>
                            <div class="card-body">
                                  @if (TempData.ContainsKey("msg"))
                                {
                                    <div class="alert alert-warning">@TempData["msg"]</div>
                                }
                                <form asp-controller="ProductImage" asp-action="Edit" method="post">

                                    <input type="file" style="display:none" id="upload">
                                    <input type="hidden" id="logoData" asp-for="ImageUrl">
                                    <div class="media mb-2" id="img-container">
                                        <div class="mb-1">
                                            <a class="mr-2" href="javascript:void(0);">
                                                <img id="eImage" class="users-avatar-shadow rounded-circle" height="70" width="70">
                                            </a>
                                            <span id="errorUplod1" class="badge badge-light-danger"> </span>
                                        </div>
                                        <div>
                                            <div class="media-body">
                                                @* <h4 class="media-heading">Avatar</h4>*@
                                                <div class="col-12 px-0 d-flex">
                                                    <a id="fileBtn" class="btn btn-sm btn-primary mr-10" style="color:white;">تعديل صورة</a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                     <label class="text-bold-600" asp-for="ProductId"> </label>

                                     <input type="text" class="form-control" style="color:#aa74fb" asp-for="ProductId" readOnly >

                                    @{

                    @if (TempData.GetTemp<int>("ProductId") != 0)
            {
                       int mainId = TempData.GetTemp<int>("ProductId");
                         <div class="modal-footer d-inline-flex">
                                        <a class="btn btn-secondary" asp-action="Index" asp-route-id="@mainId">الغاء</a>
                                        <input type="submit" class="btn alert-info" value=" تعديل ">
                                    </div>
            }
            }
                                </form>
                                <hr>
                            </div>
                        </div>
                    </div>
                    <!-- right section image -->
                    <div class="col-md-4 d-md-block d-none text-center align-self-center p-3">
                        <img class="img-fluid" src="~/app-assets/images/pages/login.png" alt="branding logo">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- login page ends -->

</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/UploadEditFile.js" asp-append-version="true"></script>

    <script>
        var logoData1 = $("#logoData").val();
       
        var imgUrl1 = " ../../Upload/ProductImage/" + logoData1;
        document.getElementById("eImage").style.backgroundImage = "url(" + imgUrl1 + ")";
        //document.getElementById("eImage").setAttribute("src",imgUrl1);
        ///////////////////////////////////////////
        var pic = [];
        pic.push(logoData1);
        $("#upload").on("change", function () {
            let folderName = "ProductImage";
            var files = $('#upload').prop("files");
            for (let i = 0; i < pic.length; i++) {
                deleteFile(pic[i], folderName, files);
            }
        });

        $('#fileBtn').click(function () { $('#upload').trigger('click'); });

    </script>

}