@using EcommereceWeb.Application.Interfaces.Common;
@model ProductAdditionalVM
@inject IServiceManager serviceManager
@{
    var res = await serviceManager.AttributeService.GetAll();

}




<style>
    #AttItem {
        max-width: 100%;
        width: 350px;
    }

    .vscomp-toggle-button {
        padding: 10px 30px 10px 10px;
        border-radius: 5px;
    }

    .container-c {
        margin-top: 12px;
        position: relative;
        max-width: 347px;
        width: 100%;
        border-radius: 8px;
        border: 1px solid #d4d8dd;
    }

    .select-btn {
        display: flex;
        height: 50px;
        align-items: center;
        padding: 0 16px;
        border-radius: 8px;
        cursor: pointer;
        background-color: #fff;
        justify-content: space-between;
    }

    .slect-btn .arrow-down {
        display: flex;
        height: 21px;
        width: 21px;
        background-color: #6e93f7;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
    }

    .slect-btn .btn-text {
        font-size: 17px;
        font-weight: 400;
        color: #333;
    }

    .list-item {
        position: relative;
        margin-top: 15px;
        border-radius: 8px;
        background-color: #fff;
        display: none;
        /*  box-shadow:0 5px 10px rgba(0,0,0.1);*/
    }

    .select-btn.open ~ .list-item {
        display: block;
    }

    .select-btn.open .arrow-down {
        transform: rotate(-180deg);
    }

    .list-item .item {
        display: flex;
        align-items: center;
        list-style: none;
        height: 30px;
        transition: 0.3s;
     
        border-radius: 8px;
        justify-content: space-between;
    }

        .list-item .item:hover {
            background-color: #e7edfe;
        }

    .item .checkbox {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 30px;
        border-radius: 6px;
        margin-right: 20px;
        margin-left: 20px;
        border: 5px solid #c0c0c0;
        transition: all 0.3s ease-in-out;
    }

    .item.checked .checkbox {
        background-color: #4070f4;
        border-color: #4070f4;
    }

    .item .item-text {
        font-size: 16px;
        color: #333;
        font-weight: 400;
    }

    .checkbox .check-icon {
        font-size: 11px;
        transform: scale(0);
        transition: all 0.3s ease-in-out;
        color: #fff;
    }

    .item.checked .check-icon {
        transform: scale(1);
    }
</style>

<section id="auth-login" class="row flexbox-container">
    <div class="col-xl-8 col-11">
        <div class="card bg-authentication mb-0">
            <div class="row m-0">
                <!-- left section-login -->
                <div class="col-md-6 col-12 px-0">
                    <div class="card disable-rounded-right mb-0 p-2 h-100 d-flex justify-content-center">
                        <div class="card-header pb-1">
                            <div class="card-title">
                                <h4 class="text-center mb-2"> يا مرحبا في  الوكالات</h4>
                            </div>
                        </div>
                        <div class="card-body">

<form asp-controller="Attribute" asp-action="Create" method="post">

    <div class="form-group mb-50">
        <label class="text-bold-600" for="exampleInputEmail1">صفات المنتج </label>

        <select class="form-select" id="Att">
            @if (res.Status.Succeeded)
            {
                                            <option>اختار</option>
                foreach (var item in res.Data)
                {
                    <option value="@item.Id">@item.ArName</option>

                }
            }
        </select>
    </div>
  
                                <div class="form-group mb-50">
    <div class="container-c">
        <div class="select-btn">
            <span class="btn-text">اختار</span>
            <span class="arrow-down">
                <img src="https://www.svgrepo.com/show/326564/chevron-down-circle-outline.svg" jsaction="VQAsE" class="r48jcc pT0Scc iPVvYb" style="    max-width: 800px;
    height: 28px;
    margin: 0px;
    width: 28px;" alt="Chevron Down Circle Outline Vector SVG Icon - SVG Repo" jsname="kn3ccd" data-ilt="1695845198827">


            </span>
        </div>
        <ul class="list-item">
            <partial name="_checkBoxList" />
         

        </ul>
    </div>

                                </div>
    <div class="modal-footer d-inline-flex">
        <a class="btn btn-secondary" asp-action="Index">Cancel</a>
        <input type="submit" class="btn alert-info" value="Add Attribute" id="attr-btn">
    </div>
</form>
                        </div>
                    </div>
                </div>
                <!-- right section image -->
                <div class="col-md-6 d-md-block d-none text-center align-self-center p-3">
                    <img class="img-fluid" src="~/app-assets/images/pages/login.png" alt="branding logo">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- login page ends -->
<form asp-controller="ProductAttribute" asp-action="Create" method="post" style="display:none">
    <input type="hidden" asp-for="ProductId" value="2">
    <input type="hidden" asp-for="AttributeId" id="AttributeId">
    <input type="hidden" asp-for="AttributeItemId" id="AttributeItemId">

    <div class="modal-footer d-inline-flex">
        <a class="btn btn-secondary" asp-action="Index">Cancel</a>
        <input type="submit" class="btn alert-info" value="Add Attribute" id="hidden-btn">
    </div>

</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">

        $("#attr-btn").on("click", function(e){
            e.preventDefault();
            $("#hidden-btn").trigger("click");
        });
        $("#Att").on("change", function () {
            let list = [];
            let id = $(this).val();
            $("#AttributeId").val($(this).val());
            let url = "../ProductAttribute/getAttrItems";
            let item = "";
            jQuery.ajax({
                method: "get",
                url: url,
                data: { "id": id },
                contentType: false,
                success: function (res) {

                    $(".list-item").html(res);
                  //  document.getElementById("itemLI").style.backgroundColor = "red";
                    const items = document.querySelectorAll(".item");
                 
                    items.forEach(item => {
                       item.addEventListener("click", (e) => {
                           
                           item.classList.toggle("checked");
                        
                        let checked = document.querySelectorAll(".checked");
                        let btnText = document.querySelector(".btn-text");
                        console.log(checked.length);
                        //if (checked && checked.length > 0) {
                                
                        //    console.log("vvvvvv " + checked.item.arguments["value"]);
                        //} else {
                        //    //  btnText.innerHTML = checked.length;
                        //}
                            $(document).on("click", ".item", function (e) {
                                e.preventDefault();
                                e.stopImmediatePropagation();
                                let AttributeItemId = $(this).attr("value");
                              
                                if(list.length>0){
                                    let index = list.some(obj => obj === AttributeItemId);
                                if (index){
                                       list=list.filter(a=>{
                                            return a !== AttributeItemId;
                                       });
                                       console.log("hi");
                                       
                                   }else{
                                        console.log("noo");
                                        list.push( AttributeItemId );
                                       
                                   }
                                }else{
                                    console.log("sssssssssssssssss");
                                    list.push(AttributeItemId );
                                }
                              //  console.log("ttttttttttttt  " + v);
                                console.log(JSON.stringify(list));

                                $("#AttributeItemId").val(list.toString());
                            })
                        });
                    });
                    
                    },
                        error: function (ex) {
                            alert("errrrrrrrrrr  " + ex.responseText);
                        }
                    });
        });
      

        const selectBtn = document.querySelector(".select-btn");


        selectBtn.addEventListener("click", (e) => {
            selectBtn.classList.toggle("open");


        });




    </script>

}