<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-navbar-fixed layout-menu-fixed"
  dir="rtl"
  data-theme="theme-default"
  data-assets-path="../../assets/"
  data-template="vertical-menu-template"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>ูุงุฆูุฉ ุงูููุธููู</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../../assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons -->
    <link rel="stylesheet" href="../../assets/vendor/fonts/boxicons.css" />
    <link rel="stylesheet" href="../../assets/vendor/fonts/fontawesome.css" />
    <link rel="stylesheet" href="../../assets/vendor/fonts/flag-icons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../../assets/vendor/css/rtl/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../../assets/vendor/css/rtl/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../../assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="../../assets/vendor/libs/typeahead-js/typeahead.css" />
    <link rel="stylesheet" href="../../assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css" />
    <link rel="stylesheet" href="../../assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css" />
    <link rel="stylesheet" href="../../assets/vendor/libs/flatpickr/flatpickr.css" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="../../assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
    <script src="../../assets/vendor/js/template-customizer.js"></script>
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../../assets/js/config.js"></script>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a href="index.html" class="app-brand-link">
              <!--me logo-->
              <span class="app-brand-logo demo">
                <svg
                  width="26px"
                  height="26px"
                  viewBox="0 0 26 26"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                  <title>icon</title>
                  <defs>
                    <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="linearGradient-1">
                      <stop stop-color="#5A8DEE" offset="0%"></stop>
                      <stop stop-color="#699AF9" offset="100%"></stop>
                    </linearGradient>
                    <linearGradient x1="0%" y1="0%" x2="100%" y2="100%" id="linearGradient-2">
                      <stop stop-color="#FDAC41" offset="0%"></stop>
                      <stop stop-color="#E38100" offset="100%"></stop>
                    </linearGradient>
                  </defs>
                  <g id="Pages" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Login---V2" transform="translate(-667.000000, -290.000000)">
                      <g id="Login" transform="translate(519.000000, 244.000000)">
                        <g id="Logo" transform="translate(148.000000, 42.000000)">
                          <g id="icon" transform="translate(0.000000, 4.000000)">
                            <path
                              d="M13.8863636,4.72727273 C18.9447899,4.72727273 23.0454545,8.82793741 23.0454545,13.8863636 C23.0454545,18.9447899 18.9447899,23.0454545 13.8863636,23.0454545 C8.82793741,23.0454545 4.72727273,18.9447899 4.72727273,13.8863636 C4.72727273,13.5423509 4.74623858,13.2027679 4.78318172,12.8686032 L8.54810407,12.8689442 C8.48567157,13.19852 8.45300462,13.5386269 8.45300462,13.8863636 C8.45300462,16.887125 10.8856023,19.3197227 13.8863636,19.3197227 C16.887125,19.3197227 19.3197227,16.887125 19.3197227,13.8863636 C19.3197227,10.8856023 16.887125,8.45300462 13.8863636,8.45300462 C13.5386269,8.45300462 13.19852,8.48567157 12.8689442,8.54810407 L12.8686032,4.78318172 C13.2027679,4.74623858 13.5423509,4.72727273 13.8863636,4.72727273 Z"
                              id="Combined-Shape"
                              fill="#4880EA"
                            ></path>
                            <path
                              d="M13.5909091,1.77272727 C20.4442608,1.77272727 26,7.19618701 26,13.8863636 C26,20.5765403 20.4442608,26 13.5909091,26 C6.73755742,26 1.18181818,20.5765403 1.18181818,13.8863636 C1.18181818,13.540626 1.19665566,13.1982714 1.22574292,12.8598734 L6.30410592,12.859962 C6.25499466,13.1951893 6.22958398,13.5378796 6.22958398,13.8863636 C6.22958398,17.8551125 9.52536149,21.0724191 13.5909091,21.0724191 C17.6564567,21.0724191 20.9522342,17.8551125 20.9522342,13.8863636 C20.9522342,9.91761479 17.6564567,6.70030817 13.5909091,6.70030817 C13.2336969,6.70030817 12.8824272,6.72514561 12.5388136,6.77314791 L12.5392575,1.81561642 C12.8859498,1.78721495 13.2366963,1.77272727 13.5909091,1.77272727 Z"
                              id="Combined-Shape2"
                              fill="url(#linearGradient-1)"
                            ></path>
                            <rect
                              id="Rectangle"
                              fill="url(#linearGradient-2)"
                              x="0"
                              y="0"
                              width="7.68181818"
                              height="7.68181818"
                            ></rect>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g><!--end-->
                </svg>
              </span>
              <span class="app-brand-text demo menu-text fw-bold ms-2">ุงูุชูุซูู </span>
            </a>
            <!--lg-sm-->
            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
              <i class="bx menu-toggle-icon fs-4 d-none d-xl-block align-middle"></i>
              <i class="bx bx-x bx-sm d-xl-none d-block align-middle"></i>
            </a>
            <!--end-->
          </div>

          <div class="menu-divider mt-0"></div>

          <div class="menu-inner-shadow"></div>

          
          <ul class="menu-inner py-1">
            
            <li class="menu-item ">
              <a href="index.html" class="menu-link ">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="ุงูุตูุญุฉ ุงูุฑุฆูุณูุฉ">ุงูุตูุญุฉ ุงูุฑุฆูุณูุฉ</div>
              </a>
            </li>
            <li class="menu-item menu-item ">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-detail"></i>
                <div data-i18n="ุฅูุดุงุกู ุชูุซูู ูุญุฑุฑ">ุฅูุดุงุก ู ุชูุซูู ูุญุฑุฑ</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="โโููุน ุงูุงุฌุฑุงุก ู ุงููุซููุฉ .html" class="menu-link">
                    <div data-i18n="ููุน ุงูุฅุฌุฑุงุก ู ุงููุซููุฉ">ููุน ุงูุฅุฌุฑุงุก ู ุงููุซููุฉ</div>
                  </a>
                </li>
                <li class="menu-item ">
                  <a href="ุงูููุซู.html" class="menu-link">
                    <div data-i18n="ุฅูุดุงุก ูุซููุฉ">ุฅูุดุงุก ูุซููุฉ</div>
                  </a>
                </li>
                <li class="menu-item ">
                  <a href="ูุฑุงุฌุนุฉ ู ูุตุงุฏูุฉ.html" class="menu-link">
                    <div data-i18n="ุงููุฑุงุฌุนุฉ ู ุงููุตุงุฏูุฉ">ุงููุฑุงุฌุนุฉ ู ุงููุตุงุฏูุฉ</div>
                  </a>
                </li>
                <li class="menu-item ">
                  <a href="ุงูุญุงูุธุฉ.html" class="menu-link">
                    <div data-i18n="ุฅุตุฏุงุฑ ุญุงูุธุฉ">ุฅุตุฏุงุฑ ุญุงูุธุฉ</div>
                  </a>
                </li>
                <li class="menu-item ">
                  <a href="ุงูุณูุฏ.html" class="menu-link">
                    <div data-i18n="ุฅุฏุฎุงู ุงูุณูุฏ">ุฅุฏุฎุงู ุงูุณูุฏ</div>
                  </a>
                </li>
                <li class="menu-item ">
                  <a href="ุชูููุฏ ุงููุซููุฉ.html" class="menu-link">
                    <div data-i18n="ุชูููุฏ ุงููุซููุฉ ูู ุงูุณุฌู">ุชูููุฏ ุงููุซููุฉ ูู ุงูุณุฌู</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="ุญูุธ ุงููุซููุฉ.html" class="menu-link ">
                    <div data-i18n="ุญูุธ ุงููุซููุฉ">ุญูุธ ุงููุซููุฉ</div>
                  </a>
                </li>
              </ul>
            </li>
            
            <li class="menu-item ">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-file"></i>
                <div data-i18n="ูุซุงุฆู ููุฏ ุงูุชูุซู">ูุซุงุฆู ููุฏ ุงูุชูุซูู</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item ">
                  <a href="ุงููุซุงุฆู ุงููุฑููุถุฉ.html" class="menu-link">
                    <div data-i18n="ุงููุซุงุฆู ุงููุฑููุถุฉ">ุงููุซุงุฆู ุงููุฑููุถุฉ </div>
                  </a>
                </li>
                <li class="menu-item ">
                  <a href="ุงููุซุงุฆู ุงูุบูุฑ ููุชููุฉ.html" class="menu-link">
                    <div data-i18n="ุงููุซุงุฆู ุงูุบูุฑ ููุชููุฉ">ุงููุซุงุฆู ุงูุบูุฑ ููุชููุฉ</div>
                  </a>
                </li>
              </ul>
            </li>

            <li class="menu-item">
              <a href="ุงุฑุดูุฉ.html" class="menu-link ">
                <i class="menu-icon tf-icons bx bx-box"></i>
                <div data-i18n="ุงุฑุดูุฉ ุงููุซุงุฆู ุงูุณุงุจูุฉ">ุงุฑุดูุฉ ุงููุซุงุฆู ุงูุณุงุจูุฉ</div>
              </a>
            </li>
            
            <li class="menu-item open active">
              <a href="javascript:void(0)" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-list-check"></i>
                <div data-i18n="ุงูุงุญุตุงุฆูุงุช ู ุงูููุงู">ุงูุงุญุตุงุฆูุงุช ู ุงูููุงู</div>
              </a>
              <ul class="menu-sub ">
                <li class="menu-item active ">
                  <a href="javascript:void(0)" class="menu-link">
                    <div data-i18n="ูุงุฆูุฉ ุงูููุธููู">ูุงุฆูุฉ ุงูููุธููู</div>
                  </a>
                </li>
                <li class="menu-item ">
                  <a href="ุงูุฅุญุตุงุฆูุงุช.html" class="menu-link">
                    <div data-i18n="ุงูุงุญุตุงุฆูุงุช">ุงูุงุญุตุงุฆูุงุช</div>
                  </a>
                </li>
              </ul>
            </li>

            
            <li class="menu-item">
              <a href="ุงูุณุฌูุงุช.html" class="menu-link ">
                <i class="menu-icon tf-icons bx bx-box"></i>
                <div data-i18n="ุงูุณุฌูุงุช">ุงูุณุฌูุงุช</div>
              </a>
            </li>
          </ul>
        </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->
          <nav class="layout-navbar navbar navbar-expand-xl align-items-center bg-navbar-theme" id="layout-navbar">
            <div class="container-fluid">
              <div class="layout-menu-toggle navbar-nav d-xl-none align-items-xl-center me-3 me-xl-0">
                <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                  <i class="bx bx-menu bx-sm"></i>
                </a>
              </div>

              <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">

                <ul class="navbar-nav flex-row align-items-center ms-auto">
                  
                  <h4 class="me-4  mt-4"> ุงุณู ุงููุญููุฉ </h4>

                  <!-- Style Switcher -->
                  <li class="nav-item me-2 me-xl-0">
                    <a class="nav-link style-switcher-toggle hide-arrow" href="javascript:void(0);">
                      <i class="bx bx-sm"></i>
                    </a>
                  </li>
                  <!--/ Style Switcher -->


                  <!-- Notification ุงูุฌุฑุณ -->
                  <li class="nav-item dropdown-notifications navbar-dropdown dropdown me-3 me-xl-2">
                    <a
                      class="nav-link dropdown-toggle hide-arrow"
                      href="javascript:void(0);"
                      data-bs-toggle="dropdown"
                      data-bs-auto-close="outside"
                      aria-expanded="false"
                    >
                      <i class="bx bx-bell bx-sm"></i>
                      <span class="badge rounded-pill badge-notifications bg-danger">5</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end py-0">
                      <li class="dropdown-menu-header border-bottom">
                        <div class="dropdown-header d-flex align-items-center py-3">
                          <h5 class="text-body me-auto mb-0">Notification</h5>
                          <a
                            href="javascript:void(0)"
                            class="dropdown-notifications-all text-body"
                            data-bs-toggle="tooltip"
                            data-bs-placement="top"
                            title="Mark all as read"
                            ><i class="bx fs-4 bx-envelope-open"></i
                          ></a>
                        </div>
                      </li>
                      <li class="dropdown-notifications-list scrollable-container">
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item list-group-item-action dropdown-notifications-item">
                            <div class="d-flex">
                              <div class="flex-shrink-0 me-3">
                                <div class="avatar">
                                  <img src="../../assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                                </div>
                              </div>
                              <div class="flex-grow-1">
                                <h6 class="mb-1">Congratulation Lettie ๐</h6>
                                <p class="mb-0">Won the monthly best seller gold badge</p>
                                <small class="text-muted">1h ago</small>
                              </div>
                              <div class="dropdown-notifications-actions flex-shrink-0">
                                <a href="javascript:void(0)" class="dropdown-notifications-read"
                                  ><span class="badge badge-dot"></span
                                ></a>
                                <a href="javascript:void(0)" class="dropdown-notifications-archive"
                                  ><span class="bx bx-x"></span
                                ></a>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item list-group-item-action dropdown-notifications-item">
                            <div class="d-flex">
                              <div class="flex-shrink-0 me-3">
                                <div class="avatar">
                                  <span class="avatar-initial bg-label-danger rounded-circle">CF</span>
                                </div>
                              </div>
                              <div class="flex-grow-1">
                                <h6 class="mb-1">Charles Franklin</h6>
                                <p class="mb-0">Accepted your connection</p>
                                <small class="text-muted">12hr ago</small>
                              </div>
                              <div class="dropdown-notifications-actions flex-shrink-0">
                                <a href="javascript:void(0)" class="dropdown-notifications-read"
                                  ><span class="badge badge-dot"></span
                                ></a>
                                <a href="javascript:void(0)" class="dropdown-notifications-archive"
                                  ><span class="bx bx-x"></span
                                ></a>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
                            <div class="d-flex">
                              <div class="flex-shrink-0 me-3">
                                <div class="avatar">
                                  <img src="../../assets/img/avatars/2.png" alt class="w-px-40 h-auto rounded-circle" />
                                </div>
                              </div>
                              <div class="flex-grow-1">
                                <h6 class="mb-1">New Message โ๏ธ</h6>
                                <p class="mb-0">You have new message from Natalie</p>
                                <small class="text-muted">1h ago</small>
                              </div>
                              <div class="dropdown-notifications-actions flex-shrink-0">
                                <a href="javascript:void(0)" class="dropdown-notifications-read"
                                  ><span class="badge badge-dot"></span
                                ></a>
                                <a href="javascript:void(0)" class="dropdown-notifications-archive"
                                  ><span class="bx bx-x"></span
                                ></a>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item list-group-item-action dropdown-notifications-item">
                            <div class="d-flex">
                              <div class="flex-shrink-0 me-3">
                                <div class="avatar">
                                  <span class="avatar-initial bg-label-success rounded-circle"
                                    ><i class="bx bx-cart"></i
                                  ></span>
                                </div>
                              </div>
                              <div class="flex-grow-1">
                                <h6 class="mb-1">Whoo! You have new order ๐</h6>
                                <p class="mb-0">ACME Inc. made new order $1,154</p>
                                <small class="text-muted">1 day ago</small>
                              </div>
                              <div class="dropdown-notifications-actions flex-shrink-0">
                                <a href="javascript:void(0)" class="dropdown-notifications-read"
                                  ><span class="badge badge-dot"></span
                                ></a>
                                <a href="javascript:void(0)" class="dropdown-notifications-archive"
                                  ><span class="bx bx-x"></span
                                ></a>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
                            <div class="d-flex">
                              <div class="flex-shrink-0 me-3">
                                <div class="avatar">
                                  <img src="../../assets/img/avatars/9.png" alt class="w-px-40 h-auto rounded-circle" />
                                </div>
                              </div>
                              <div class="flex-grow-1">
                                <h6 class="mb-1">Application has been approved ๐</h6>
                                <p class="mb-0">Your ABC project application has been approved.</p>
                                <small class="text-muted">2 days ago</small>
                              </div>
                              <div class="dropdown-notifications-actions flex-shrink-0">
                                <a href="javascript:void(0)" class="dropdown-notifications-read"
                                  ><span class="badge badge-dot"></span
                                ></a>
                                <a href="javascript:void(0)" class="dropdown-notifications-archive"
                                  ><span class="bx bx-x"></span
                                ></a>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
                            <div class="d-flex">
                              <div class="flex-shrink-0 me-3">
                                <div class="avatar">
                                  <span class="avatar-initial bg-label-success rounded-circle"
                                    ><i class="bx bx-pie-chart-alt"></i
                                  ></span>
                                </div>
                              </div>
                              <div class="flex-grow-1">
                                <h6 class="mb-1">Monthly report is generated</h6>
                                <p class="mb-0">July monthly financial report is generated</p>
                                <small class="text-muted">3 days ago</small>
                              </div>
                              <div class="dropdown-notifications-actions flex-shrink-0">
                                <a href="javascript:void(0)" class="dropdown-notifications-read"
                                  ><span class="badge badge-dot"></span
                                ></a>
                                <a href="javascript:void(0)" class="dropdown-notifications-archive"
                                  ><span class="bx bx-x"></span
                                ></a>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
                            <div class="d-flex">
                              <div class="flex-shrink-0 me-3">
                                <div class="avatar">
                                  <img src="../../assets/img/avatars/5.png" alt class="w-px-40 h-auto rounded-circle" />
                                </div>
                              </div>
                              <div class="flex-grow-1">
                                <h6 class="mb-1">Send connection request</h6>
                                <p class="mb-0">Peter sent you connection request</p>
                                <small class="text-muted">4 days ago</small>
                              </div>
                              <div class="dropdown-notifications-actions flex-shrink-0">
                                <a href="javascript:void(0)" class="dropdown-notifications-read"
                                  ><span class="badge badge-dot"></span
                                ></a>
                                <a href="javascript:void(0)" class="dropdown-notifications-archive"
                                  ><span class="bx bx-x"></span
                                ></a>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item list-group-item-action dropdown-notifications-item">
                            <div class="d-flex">
                              <div class="flex-shrink-0 me-3">
                                <div class="avatar">
                                  <img src="../../assets/img/avatars/6.png" alt class="w-px-40 h-auto rounded-circle" />
                                </div>
                              </div>
                              <div class="flex-grow-1">
                                <h6 class="mb-1">New message from Jane</h6>
                                <p class="mb-0">Your have new message from Jane</p>
                                <small class="text-muted">5 days ago</small>
                              </div>
                              <div class="dropdown-notifications-actions flex-shrink-0">
                                <a href="javascript:void(0)" class="dropdown-notifications-read"
                                  ><span class="badge badge-dot"></span
                                ></a>
                                <a href="javascript:void(0)" class="dropdown-notifications-archive"
                                  ><span class="bx bx-x"></span
                                ></a>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
                            <div class="d-flex">
                              <div class="flex-shrink-0 me-3">
                                <div class="avatar">
                                  <span class="avatar-initial bg-label-warning rounded-circle"
                                    ><i class="bx bx-error"></i
                                  ></span>
                                </div>
                              </div>
                              <div class="flex-grow-1">
                                <h6 class="mb-1">CPU is running high</h6>
                                <p class="mb-0">CPU Utilization Percent is currently at 88.63%,</p>
                                <small class="text-muted">5 days ago</small>
                              </div>
                              <div class="dropdown-notifications-actions flex-shrink-0">
                                <a href="javascript:void(0)" class="dropdown-notifications-read"
                                  ><span class="badge badge-dot"></span
                                ></a>
                                <a href="javascript:void(0)" class="dropdown-notifications-archive"
                                  ><span class="bx bx-x"></span
                                ></a>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </li>
                      <li class="dropdown-menu-footer border-top">
                        <a href="javascript:void(0);" class="dropdown-item d-flex justify-content-center p-3">
                          View all notifications
                        </a>
                      </li>
                    </ul>
                  </li>
                  <!--/  ุงูุฌุฑุณNotification -->

                  
                  <!-- User -->
                  <li class="nav-item navbar-dropdown dropdown-user dropdown">
                    <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                      <div class="avatar avatar-online">
                        <img src="../../assets/img/avatars/1.png" alt class="rounded-circle" />
                      </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li>
                        <a class="dropdown-item" href="ุฅุนุฏุงุฏุงุช ุงูุญุณุงุจ.html">
                          <div class="d-flex">
                            <div class="flex-shrink-0 me-3">
                              <div class="avatar avatar-online">
                                <img src="../../assets/img/avatars/1.png" alt class="rounded-circle" />
                              </div>
                            </div>
                            <div class="flex-grow-1">
                              <span class="lh-1 d-block fw-semibold">ุงููุนุชุตู ุงูุฎููู</span>
                              <small>ููุซู</small>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <div class="dropdown-divider"></div>
                      </li>
                      <li>
                        <a class="dropdown-item" href="ุจูุงูุงุช ุงููุณุชุฎุฏู.html">
                          <i class="bx bx-user me-2"></i>
                          <span class="align-middle">ุจูุงูุงุช ุงููุณุชุฎุฏู</span>
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="ุฅุนุฏุงุฏุงุช ุงูุญุณุงุจ.html">
                          <i class="bx bx-cog me-2"></i>
                          <span class="align-middle">ุฅุนุฏุงุฏุงุช ุงูุญุณุงุจ</span>
                        </a>
                      </li>
                      <li>
                        <div class="dropdown-divider"></div>
                      </li>
                      <li>
                        <a class="dropdown-item" href="login.html" target="_blank">
                          <i class="bx bx-power-off me-2"></i>
                          <span class="align-middle">ุชุณุฌูู ุงูุฎุฑูุฌ</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <!--/ User -->
                </ul>
              </div>
            </div>
          </nav>

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->


            
            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="breadcrumb-wrapper py-3 mb-4"><span class="text-muted fw-light"> ุงูุฅุญุตุงุฆูุงุช ู ุงูููุงู /</span> ูุงุฆูุฉ ุงูููุธููู </h4>
             

              <!-- Ajax Sourced Server-side -->
              <div class="card">
                
                <div class="row ">
                  <div class="col-md-6 text-start  mt-3  ps-4">
                    <h5 class="card-title mb-0 ms-2"> ูุงุฆูุฉ ุงูููุธููู</h5>
                </div> 
                <div class="col-md-6 text-end">
                
                <div class="dt-buttons text-end me-3">
                  <button class="dt-button create-new btn btn-primary mt-3" tabindex="0"> 
                ุฅุตุฏุงุฑ ุงูุชูุงุฑูุฑ</button> 
                  </div>
                </div>
                </div>
                <div class="card-datatable text-nowrap">
                  <table class="datatables-ajax table  ">
                    <thead class="border-top">
                      <tr>
                        <th>ุงูุฑูู</th>
                        <th>ุงุณู ุงูููุธู</th>
                        <th>ููุนุฉ</th>
                        <th>ุงูุฅุฌุฑุงุกุงุช</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td> 1</td>
                        <td>ูุฌู ุงูุฏูู</td>
                        <td>ููุซู</td>
                        <td>
                            <div class="dropdown">
                            <button type="button" class="btn dropdown-toggle hide-arrow p-0" data-bs-toggle="dropdown">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                             <div class="dropdown-menu">
                               <a class="dropdown-item" href="javascript:void(0);">ุนุฑุถ ุงูุณุฌู</a>
                              <a class="dropdown-item" href="javascript:void(0);">ุชุญุฏูุฏ ุงูููุงู</a>
                             </div>
                            </div>
                       </td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td> ุนููุงู</td>
                        <td>ููุซู</td>
                        <td>
                            <div class="dropdown">
                            <button type="button" class="btn dropdown-toggle hide-arrow p-0" data-bs-toggle="dropdown">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                             <div class="dropdown-menu">
                               <a class="dropdown-item" href="javascript:void(0);">ุนุฑุถ ุงูุณุฌู</a>
                              <a class="dropdown-item" href="javascript:void(0);">ุชุญุฏูุฏ ุงูููุงู</a>
                             </div>
                            </div>
                       </td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td> ูุดูุงู</td>
                        <td>ููุซู</td>
                        <td>
                            <div class="dropdown">
                            <button type="button" class="btn dropdown-toggle hide-arrow p-0" data-bs-toggle="dropdown">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                             <div class="dropdown-menu">
                               <a class="dropdown-item" href="javascript:void(0);">ุนุฑุถ ุงูุณุฌู</a>
                              <a class="dropdown-item" href="javascript:void(0);">ุชุญุฏูุฏ ุงูููุงู</a>
                             </div>
                            </div>
                       </td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td> ุฌุนูุงู</td>
                        <td>ููุซู</td>
                        <td>
                            <div class="dropdown">
                            <button type="button" class="btn dropdown-toggle hide-arrow p-0" data-bs-toggle="dropdown">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                             <div class="dropdown-menu">
                               <a class="dropdown-item" href="javascript:void(0);">ุนุฑุถ ุงูุณุฌู</a>
                              <a class="dropdown-item" href="javascript:void(0);">ุชุญุฏูุฏ ุงูููุงู</a>
                             </div>
                            </div>
                       </td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td> ูุญูุฏ</td>
                        <td>ููุซู</td>
                        <td>
                            <div class="dropdown">
                            <button type="button" class="btn dropdown-toggle hide-arrow p-0" data-bs-toggle="dropdown">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                             <div class="dropdown-menu">
                               <a class="dropdown-item" href="javascript:void(0);">ุนุฑุถ ุงูุณุฌู</a>
                              <a class="dropdown-item" href="javascript:void(0);">ุชุญุฏูุฏ ุงูููุงู</a>
                             </div>
                            </div>
                       </td>
                      </tr>
                      <tr>
                        <td>6</td>
                        <td> ูููุณ</td>
                        <td>ููุซู</td>
                        <td>
                            <div class="dropdown">
                            <button type="button" class="btn dropdown-toggle hide-arrow p-0" data-bs-toggle="dropdown">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                             <div class="dropdown-menu">
                               <a class="dropdown-item" href="javascript:void(0);">ุนุฑุถ ุงูุณุฌู</a>
                              <a class="dropdown-item" href="javascript:void(0);">ุชุญุฏูุฏ ุงูููุงู</a>
                             </div>
                            </div>
                       </td>
                      </tr>
                      <tr>
                        <td>7</td>
                        <td> ุนุจุฏ ุงูุฑุญูู</td>
                        <td>ููุซู</td>
                        <td>
                            <div class="dropdown">
                            <button type="button" class="btn dropdown-toggle hide-arrow p-0" data-bs-toggle="dropdown">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                             <div class="dropdown-menu">
                               <a class="dropdown-item" href="javascript:void(0);">ุนุฑุถ ุงูุณุฌู</a>
                              <a class="dropdown-item" href="javascript:void(0);">ุชุญุฏูุฏ ุงูููุงู</a>
                             </div>
                            </div>
                       </td>
                      </tr>
                      <tr>
                        <td>8</td>
                        <td> ููุตูุฑ</td>
                        <td>ููุซู</td>
                        <td>
                            <div class="dropdown">
                            <button type="button" class="btn dropdown-toggle hide-arrow p-0" data-bs-toggle="dropdown">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                             <div class="dropdown-menu">
                               <a class="dropdown-item" href="javascript:void(0);">ุนุฑุถ ุงูุณุฌู</a>
                              <a class="dropdown-item" href="javascript:void(0);">ุชุญุฏูุฏ ุงูููุงู</a>
                             </div>
                            </div>
                       </td>
                      </tr>
                      <tr>
                        <td>9</td>
                        <td> ุนุงุตู</td>
                        <td>ููุซู</td>
                        <td>
                            <div class="dropdown">
                            <button type="button" class="btn dropdown-toggle hide-arrow p-0" data-bs-toggle="dropdown">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                             <div class="dropdown-menu">
                               <a class="dropdown-item" href="javascript:void(0);">ุนุฑุถ ุงูุณุฌู</a>
                              <a class="dropdown-item" href="javascript:void(0);">ุชุญุฏูุฏ ุงูููุงู</a>
                             </div>
                            </div>
                       </td>
                      </tr>
                      <tr>
                        <td>10</td>
                        <td> ุงุจู ุจูุฑ</td>
                        <td>ููุซู</td>
                        <td>
                            <div class="dropdown">
                            <button type="button" class="btn dropdown-toggle hide-arrow p-0" data-bs-toggle="dropdown">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                             <div class="dropdown-menu">
                               <a class="dropdown-item" href="javascript:void(0);">ุนุฑุถ ุงูุณุฌู</a>
                              <a class="dropdown-item" href="javascript:void(0);">ุชุญุฏูุฏ ุงูููุงู</a>
                             </div>
                            </div>
                       </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                 <!-- ุชูุซูู -->
                 <div
                 class="offcanvas offcanvas-end"
                 tabindex="-1"
                 id="cc"
                 aria-labelledby="offcanvasAddresumptionLabel"
               >
                 <div class="offcanvas-header border-bottom">
                   <h5 id="addcaselable" class="offcanvas-title">ุงูุญูู</h5>
                   <button
                     type="button"
                     class="btn-close text-reset"
                     data-bs-dismiss="offcanvas"
                     aria-label="Close"
                   ></button>
                 </div>


                 <div class="offcanvas-body flex-grow-0 mx-0" >
                   <form class="needs-validation" novalidate> 
                     <div class="mb-3">
                       <label class="form-label" for="mainplacement">ุงูุงุณู</label>
                       <input
                         id="mainplacement"
                         type="text"
                         class="form-control"
                         placeholder=" ุฅุฏุฎู ุงูุงุณู "
                         required
                       />
                       <div class="valid-feedback"></div>
                       <div class="invalid-feedback">ูุฑุฌู ุฅุฏุฎุงู ุงูุงุณู  </div>
                     </div>
                      <div class="mb-3">
                           <label class="form-label" for="date2"> ุชุงุฑูุฎ ุงูุญูู </label>
                           <input type="date" class="form-control " id="date2" name="date21" placeholder=""required>                       
                           <div class="valid-feedback"></div>
                           <div class="invalid-feedback">ูุฑุฌู ุฅุฏุฎุงู ุงูุชุงุฑูุฎ  </div>
                         </div>
                       
                       <div class="mb-3">
                           <label class="form-label" for="Esdar"> ุฌูุฉ ุงูุฅุตุฏุงุฑ </label>
                           <input type="text" class="form-control " id="Esdar" name="Esdar1" placeholder="ุงุฏุฎู ุฌูุฉ ุงูุฅุตุฏุงุฑ"required>
                       
                           <div class="valid-feedback"></div>
                           <div class="invalid-feedback">ูุฑุฌู ุฅุฏุฎุงู ุฌูุฉ ุงูุฅุตุฏุงุฑ  </div>
                       </div>
                       <div class="mb-3">
                        <label class="form-label" for="sumary">ูุต ุงูุญูู</label>
                        <textarea class="form-control  " id="sumary" rows="3" placeholder="ูุต ุงูุญูู" required></textarea>
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback">ูุฑุฌู ุฅุฏุฎุงู ูุต ุงูุญูู   </div> 
                      </div>
                       <div class="mb-3">
                        <label class="form-label" for="Esdar"> ุฑุฆูุณ ุงููุญููุฉ </label>
                        <input type="text" class="form-control " id="ra" name="ra1" placeholder="ุงุฏุฎู ุฌูุฉ ุงูุฅุตุฏุงุฑ"required>                    
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback">ูุฑุฌู ุฅุฏุฎุงู ุงุณู ุฑุฆูุณ ุงููุญููุฉ  </div>
                      </div>
                      <div class="mb-3">
                        <label class="form-label" for="Esdar"> ุตูุฑุฉ ุงูุญูู </label>
                        <input type="file" class="form-control " id="ra" name="ra1" placeholder="ุงุฏุฎู ุฌูุฉ ุงูุฅุตุฏุงุฑ"required>                    
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback">ูุฑุฌู ุฅุฎุชูุงุฑ ููู   </div>
                      </div>
                   
                     <div class="d-grid gap-2 col-13 mx-auto mt-4">
                       <button class="btn btn-primary " type="submit">ุญูุธ</button>
                       <button class="btn btn-label-secondary " type="reset" data-bs-dismiss="offcanvas" > ุฅูุบุงุก</button>
                     </div>
                   </form>
                 </div>
                 <!--end -->
                 </div>
                
              </div>
              <!--/ Ajax Sourced Server-side -->

              

            <div class="content-backdrop fade"></div>
          
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>

      <!-- Drag Target Area To SlideIn Menu On Small Screens -->
      <div class="drag-target"></div>
    </div>
    <!-- / Layout wrapper -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../../assets/vendor/libs/popper/popper.js"></script>
    <script src="../../assets/vendor/js/bootstrap.js"></script>
    <script src="../../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="../../assets/vendor/libs/hammer/hammer.js"></script>
    <script src="../../assets/vendor/libs/i18n/i18n.js"></script>
    <script src="../../assets/vendor/libs/typeahead-js/typeahead.js"></script>

    <script src="../../assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="../../assets/vendor/libs/datatables/jquery.dataTables.js"></script>
    <script src="../../assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
    <script src="../../assets/vendor/libs/datatables-responsive/datatables.responsive.js"></script>
    <script src="../../assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.js"></script>
    <!-- Flat Picker -->
    <script src="../../assets/vendor/libs/moment/moment.js"></script>
    <script src="../../assets/vendor/libs/flatpickr/flatpickr.js"></script>

    <!-- Main JS -->
    <script src="../../assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="../../assets/js/tables-datatables-advanced.js"></script>
    <script src="../../assets/js/form-validation.js"></script>
  </body>
</html>
