@{
    Layout = "_AppLayout";
}
<!-- srtart  slider section-->
@model ProductHomeVm
<partial name="../Slider/AppIndex.cshtml"/>

<!-- end  slider section-->
<div class="page-wrapper">
	<div class="page-content">
		<!--start information-->
		<partial name="_Classification">
		<!--end information-->

		<!-- start product --------------------------->

		<partial name="_Product">
		<!-- end product --------------------------->
				<!--start New Arrivals-->
				<partial name="_newProduct">
				<!--end New Arrivals-->
					<!--start Advertise banners-->
					<partial name="_Advertisebanners">
					<!--end Advertise banners-->
						<!--start categories-->
						<partial name="_categories">

						<!--end categories-->
							<!--start brands-->
							<partial name="_brand">
							<!--end brands-->
							<!-- start product details-->
								<div class="modal fade" id="QuickViewProduct">

								<partial name="_ProductDetails">
								</div>
							<!-- end product details-->

</div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
	<script>  
	function getproductDetails(pid){
			jQuery.ajax({
				method: "get",
				url: url,
				data: { "id": pid },
				contentType: false,
				beforeSend: function () {},
				success: function (res) {

					$("QuickViewProduct").html(res);


				},
				error: function (ex) {
					alert("errrrrrrrrrr  " + ex.responseText);
				}
			});

	}
	</script>
}